.idea/
yes27/yes27/.gradle/
yes27/yes27/build/
yes27/yes27/gradle/
yes27/yes27/src/.gitignore
yes27/yes27/src/build.gradle
yes27/yes27/src/gradlew
yes27/yes27/src/gradle.bat
yes27/yes27/src/HELP.md
yes27/yes27/src/settings.gradle